.header{
    height: 35px;
    background-color: #f2fdff;
    display: flex;
    // 
    justify-content: space-between;
    // gap: 10px;
    .project{
        // display: flex;
        
    }
    .buttonsGroup{
        display: flex;
        gap: 10px;
    }
}